@font-face {
    font-family: 'bpg mrglovani';
    src: url(../fonts/bpg_mrgvlovani_caps_2010.ttf);
}

@font-face {
    font-family: 'bpg nino';
    src: url(../fonts/bpg_nino_mtavruli_normal.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    --light-color: #F5F5F5;
    --compl-color: #bd4802;
    --lighter-color: #0397ef;
    --dark-color: #0277BD;
    --darker-color: #01578b;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

a, a:focus, a:active, a:visited {
    color: black;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

body {
    background-color: var(--light-color);
    font-family: 'bpg nino', 'bpg mrglovani';
    overflow-x: hidden;
}

header {
    background-color: var(--dark-color);
    height: 110px;
    box-shadow: 0px 3px 2px #ddd;
    min-width: 1000px;
    position: relative;
    z-index: 1000;
}

.header-left{
    float: left;
    margin-left: 20px;
    font-size: 15px;
}

.header-right{
    float: right;
    margin-right: 20px;
    font-size: 13px;
    background-color: var(--light-color);
    height: 100%;
    transform: skewX(-45deg);
    margin-right: -80px;
    padding-right: 100px;
    padding-left: 60px;
}

.header-right a {
    color: var(--dark-color);
    opacity: 1;
}

.header-right a:hover {
    opacity: 0.8;
}

.header-right>*{
    transform: skewX(45deg);
}

.header-logo {
    height: 100%;
}

.header-logo img{
    height: 60px;
}

.navigation{
    margin-left: 20px;
    margin-top: 81px;
}

.nav-item a {
    padding: 10px;
    color: var(--light-color);
}

.nav-item a.active{
    border-bottom: 2px solid white;
}

.nav-item a:hover {
    background-color: rgba(0,0,0,.1);
}

.header-right-wrapper{
    margin-right: 40px;
    margin-top: 30px;
    line-height: 30px;
    display: inline-block;
}

.user-mini-info {
    position: absolute;
    width: 400px;
    height: 0px;
    overflow: hidden;
    transition: height .4s;
    top: 110px;
    left: 170px;
}

.user-mini-info ul{
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

.user-mini-info-item {
    transform: skewX(-45deg);
    font-size: 15px;
    background-color: var(--light-color);
    box-shadow: 0px 0px 2px #888;
    padding: 5px;
    margin-left: 15px;
    transition: transform 0.2s, background-color 0.2s;
    cursor: pointer;
}

.user-mini-info-item:hover:not(:last-child){
    transform: skewX(-45deg) translateY(1px);
    background-color: #ddd;
}

.user-mini-info-item:last-child{
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 17px;
}

.user-mini-info-item>* {
    transform: skewX(45deg);
}


.user-mini-info-text {
    margin-left: 20px;
    margin-top: 2px;
}

.user-mini-info-text .value {
    float: right;
    margin-right: 60px;
}

.right-top {
    font-size: 15px;
}

.header-right:hover .user-mini-info {
    height: 340px;
}

.user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:relative;
    top:5px;
    margin-right: 15px;
    background-image: url(/public/img/default.png);
    background-color: var(--dark-color);
    background-size: 50px 50px;
    background-position: 0 7px;
    background-repeat: no-repeat;
    display: inline-block;
}


.main {
    padding: 20px;
    width: 750px;
    background-color: white;
    height: 100%;
    margin: 0 auto;
    position:relative;
    z-index: 0;
    box-shadow: 0px 3px 2px #ddd;
}


.race-types{
    padding: 0 30px;
    list-style: none;
}

.race-type {
    margin: 20px auto;
    width: 360px;
}

.race-type-icon {
    color: var(--lighter-color);
    width: 60px;
    text-align: center;
}

.race-type-body {
    display: inline-block;
    padding-left: 30px;
}

.race-type-body a {
    color: var(--compl-color);
}

.race-type-body a:hover h1 {
    opacity: 0.8;
}

.race-type h1 {
    font-size: 18px;
}

.main-race h1 {
    font-size: 22px;
}

.race-type-sub-text {
    font-size: 14px;
}

.race-section {

}

.race-state {
    color: var(--compl-color);
    font-weight: bold;
}

.race-tracks {
    list-style: none;
    padding: 20px;
}

.race-track {
    display: flex;
    padding: 10px 0;
}

.race-track-left {
    width: 100%;

}

.race-track-right {
    min-width: 140px;
    padding-left: 20px;
}

.race-track-path {
    border-bottom: dashed var(--darker-color);
}

.race-track-place {
    height: 20px;
}

.race-track-user {
    padding-bottom: 3px;
    display: inline-block;
    width: 110px;
    position: relative;
    left: 69%;
}

.race-track-user-heli{
    font-size: 25px;
    padding-left: 10px;
    color: var(--darker-color);
}

.me .race-track-user-heli {
    color: var(--compl-color);
}

.race-track-user-name{
    font-size: 20px;
    display: inline-block;
}

.me .race-track-speed {
    font-weight: bold;
    font-size: 20px;
}