@font-face {
    font-family: 'bpg mrglovani';
    src: url(../fonts/bpg_mrgvlovani_caps_2010.ttf);
}

@font-face {
    font-family: 'bpg nino';
    src: url(../fonts/bpg_nino_mtavruli_normal.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body{
    height: 100%;
    width: 100%;
}

.hidden {
    display: none !important;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

:root{
    --light-color: #F5F5F5;
    --compl-color: #bd4802;
    --lighter-color: #0397ef;
    --dark-color: #0277BD;
    --darker-color: #01578b;
    --text-correct-color: #99cc00;
    --text-incorrect-background: #f0a3a3;
    --text-incorrect-foreground: #803333;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

a, a:focus, a:active, a:visited {
    color: black;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

body {
    background-color: var(--light-color);
    font-family: 'bpg nino', 'bpg mrglovani';
    overflow-x: hidden;
}

header {
    background-color: var(--dark-color);
    height: 110px;
    box-shadow: 0px 3px 2px #ddd;
    min-width: 1000px;
    position: relative;
    z-index: 1000;
}

.header-left{
    float: left;
    margin-left: 20px;
    font-size: 15px;
}

.header-right{
    float: right;
    margin-right: 20px;
    font-size: 13px;
    background-color: var(--light-color);
    height: 100%;
    transform: skewX(-45deg);
    margin-right: -80px;
    padding-right: 100px;
    padding-left: 60px;
}

.header-right a, .race-section a {
    color: var(--dark-color);
    opacity: 1;
}

.header-right a:hover, .race-section a:hover {
    opacity: 0.8;
}

.header-right>*{
    transform: skewX(45deg);
}

.header-logo {
    height: 100%;
}

.header-logo img{
    height: 60px;
}

.navigation{
    margin-left: 20px;
    margin-top: 81px;
}

.nav-item a {
    padding: 10px;
    color: var(--light-color);
}

.nav-item a.active{
    border-bottom: 2px solid white;
}

.nav-item a:hover {
    background-color: rgba(0,0,0,.1);
}

.header-right-wrapper{
    margin-right: 40px;
    margin-top: 30px;
    line-height: 30px;
    display: inline-block;
}

.user-mini-info {
    position: absolute;
    width: 400px;
    height: 0px;
    overflow: hidden;
    transition: height .4s;
    top: 110px;
    left: 133px;
}

.user-mini-info ul{
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

.user-mini-info-item {
    transform: skewX(-45deg);
    font-size: 15px;
    background-color: var(--light-color);
    box-shadow: 0px 0px 2px #888;
    padding: 5px;
    margin-left: 15px;
    transition: transform 0.2s, background-color 0.2s;
    cursor: pointer;
}

.user-mini-info-item:hover:not(:last-child){
    transform: skewX(-45deg) translateY(1px);
    background-color: #ddd;
}

.user-mini-info-item:last-child{
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 17px;
}

.user-mini-info-item>* {
    transform: skewX(45deg);
}


.user-mini-info-text {
    margin-left: 20px;
    margin-top: 2px;
}

.user-mini-info-text .value {
    float: right;
    margin-right: 80px;
}

.right-top {
    font-size: 15px;
}

.header-right:hover .user-mini-info {
    height: 265px;
}

.user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:relative;
    top:5px;
    margin-right: 15px;
    background-image: url(/public/img/default.png);
    background-color: var(--dark-color);
    background-size: 50px 50px;
    background-position: 0 7px;
    background-repeat: no-repeat;
    display: inline-block;
}

main {
    height: 100%;
}

.main {
    padding: 20px;
    width: 750px;
    background-color: white;
    min-height: 100%;
    margin: 0 auto;
    position:relative;
    z-index: 0;
    box-shadow: 0px 3px 2px #ddd;
}

.race-types{
    padding: 0 30px;
    list-style: none;
}

.race-type {
    margin: 20px auto;
    width: 360px;
}

.race-type-icon {
    color: var(--lighter-color);
    width: 60px;
    text-align: center;
}

.race-type-body {
    display: inline-block;
    padding-left: 30px;
}

.race-type-body a {
    color: var(--compl-color);
}

.race-type-body a:hover h1 {
    opacity: 0.8;
}

.race-type h1 {
    font-size: 18px;
}

.main-race h1 {
    font-size: 22px;
}

.race-type-sub-text {
    font-size: 14px;
}

.race-section {
    position: relative;
}

.race-state {
    color: var(--compl-color);
    font-weight: bold;
    display: inline-block;
}

.race-tracks {
    list-style: none;
    padding: 20px 0;
}

.race-track {
    display: flex;
    padding: 10px 0;
}

.race-track-left {
    width: 100%;

}

.race-track-right {
    min-width: 110px;
    padding-left: 20px;
}

.race-track-path {
    border-bottom: dashed var(--darker-color);
}

.race-track-place {
    height: 20px;
}

.race-track-user {
    padding-bottom: 3px;
    display: inline-block;
    width: 120px;
    position: relative;
    left: 80%; /* (0-80)% */
}

.race-track-user-heli{
    font-size: 25px;
    padding-left: 5px;
    color: var(--darker-color);
}

.me .race-track-user-heli {
    color: var(--compl-color);
}

.race-track-user-name{
    font-size: 14px;
    position: relative;
    bottom: 5px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
    text-align: right;
}

.me .race-track-speed {
    font-weight: bold;
    font-size: 20px;
}

.race-text {
    font-size: 20px;
    user-select: none;
}

.race-text-correct {
    color: var(--text-correct-color);
    text-decoration-color: var(--text-correct-color);
}

.race-text-current {
    text-decoration: underline;
}

.race-text-current span {
    text-decoration: underline;
}

@keyframes wink {
    0%   { border-color: black; }
    50%  { border-color: rgba(0,0,0,0); }
}

.race-text-cursor {
    border-left: 1px solid black;
    position:relative;
    bottom: 3px;
    animation-name: wink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,0,0,1);
}

.race-text-incorrect {
    color: var(--text-incorrect-foreground);
    text-decoration-color: var(--text-incorrect-foreground);
    background-color: var(--text-incorrect-background);
    padding-top: 3px;
    margin-top: -3px;
}

.race-input {
    margin: 10px 0;
    padding: 0 5px;
    padding-bottom: 5px;
    font-size: 25px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 50px);
}

.race-counter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    width: 400px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 2px #888;
    transition: opacity .5s;
}

.race-counter.hidden {
    opacity: 0;
}

.race-counter-left {
    width: 150px;
    height: 100%;
    display: inline-block;
    background-color: var(--darker-color);
}

.race-counter-ball {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px 0 #000;
    background-color: #888;
}

.race-counter-ball.red {
    background-color: red;
}

.race-counter-ball.yellow {
    background-color: yellow;
}

.race-counter-ball.green {
    background-color: green;
}

.race-counter-right {
    width: 250px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    background-color: var(--lighter-color);
}

.race-counter-text {
    padding: 5px;
    font-size: 16px;
}

.race-counter-count {
    padding: 5px;
    font-size: 25px;
    float: right;
    position: relative;
    bottom: 4px;
}

.text-counter {
    float:right;
}

.text-counter.hidden{
    display:none;
}

.race-link.leave{
    float: left;
}

.race-link.next{
    float: right;
}

.text-review-state {
    color: var(--compl-color);
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

.text-review-left {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}

.text-review-header {
    font-size: 20px;
}

.text-review-picture {
    max-width: 100px;
    max-height: 200px;
}

.text-review-author {
    font-size: 14px;
    margin-bottom: 10px;
}

.text-review-stat {
    margin: 2px 0;
}

.text-review-stat-name {
    display: inline-block;
    min-width: 120px;
}

.login-background-right{
    width: 100%;
    position: relative;
    height: 100%;
    transform: skew(-33deg);
    background-color: var( --dark-color);
    left: 45%;
}

.login-background-right>* {
    transform: skew(33deg); 
}

.login-input {
    box-sizing: border-box;
    display: inline-block;
    width: 270px;
    height: 40px;
    background-color: white;
    border : none;
    outline: none;
    font-family:  'bpg nino';
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.login-logo img{
    width:270px;
}

.login-input-wrapper{
    position: relative;
    top: 20%;
    transform: skew(33deg);
    display: inline-block;
    width: 270px;
}

.login-left{
    float: left;
}



.login-input-header{
    text-align: center;
    padding: 0 5px;
    height: 30px;
    font-size: 20px;
    color: white;
}

.login-button{
    transition: background-color 0.5s ease;    
    background: var(--lighter-color) ;
    color : white;
    text-align: center;
    line-height: 40px;
}

.login-button:hover{
    background: var(--darker-color) ;
}

.login-left{
    position: relative;
    top: 20vh;
    transform: translateX(90%);
}

.login-register-button-wrapper{
    font-size: 14px;
    text-align: right;
    width: 270px;
    color: white;
}

.login-register-button{
    display: inline;
}

.login-register-button:hover{
    text-decoration: underline;
}

.toastr{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #303030;
    padding: 10px;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 1s;
    color: white;
}

.toastr.done{
    opacity: 0;
}

.add-text-form input, .add-text-form textarea {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    resize: none;
}

.add-text-form input[type='text'], .add-text-form textarea {
    width: 400px;
}

.add-text-form textarea {
    height: 100px;
}